title{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color:blueviolet;
    background-color: aqua;
    display:block;
}

originalName{
    font-size: 18px;
    font-style: italic;
    background-color: lightcoral;
    display:block;

}

category{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    background-color: goldenrod;
    display:block;
}

