.genre {
    max-width: 100%;
    padding-bottom: 70px;
    overflow: hidden;
    display: flex;
    background-color: #a5e7ef;
    color: black;
}

.genre > table > tr {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ol {
  list-style: none;
  display: flex;
  overflow: auto;
  max-width: 100%;
}

image {
  margin-left: 50px;
  display: inline-block;
  overflow: auto;
  float: left;
}

h3 {
  text-align: left;
  vertical-align: top;
}

h2 {
  color: chocolate;
  text-align: left;
}
